<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap-icons.css">
    <link rel="icon" href="../static/img/favicon1.ico" type="image/x-icon">
    <title>Brands to Life</title>
</head>


<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 text-center">
                <img src="../static/img/B2L.jpg" alt="logo" class="img-fluid v_logo">
            </div>
            <div class="col-xl-9">
                <h1 class="text-white text-xl-start text-center mb-5">МАРКЕТИНГОВОЕ АГЕНТСТВО ПОЛНОГО ЦИКЛА</h1>
                <div class="col-xl-6 text-xl-start text-center">
                    <h4 class="color2">Комплексный подход к маркетингу основанный на проверенных научных
                        разработках.</h4>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="v-orderlist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">У нас вы можете заказать:</h2>
                <div class="accordion accordion-flush" id="accordion_1">
                    <!-- Открытый элемент -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_1" aria-expanded="false"
                                    aria-controls="collapse_1">
                                Маркетинговые исследования
                            </button>
                        </h2>
                        <div id="collapse_1" class="accordion-collapse collapse show"
                             aria-labelledby="heading_1" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Исследования помогают понять, <b>что еще</b> Ваш бренд <b>может продать</b> клиентам и
                                как Вашему бренду <b>стать No1</b> для потребителей
                            </div>
                        </div>
                    </div>
                    <!-- Закрытые элементы -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_2" aria-expanded="false"
                                    aria-controls="collapse_2">
                                Производство современных рекламных кампаний
                            </button>
                        </h2>
                        <div id="collapse_2" class="accordion-collapse collapse"
                             aria-labelledby="heading-2" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Берем на себя <b>производство всего необходимого</b> для рекламных кампаний: от
                                стратегий и поиска партнеров, до производства буклетов и BTL-рекламы
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_3" aria-expanded="false"
                                    aria-controls="collapse_3">
                                Интерактивные PR-акции
                            </button>
                        </h2>
                        <div id="collapse_3" class="accordion-collapse collapse"
                             aria-labelledby="heading-3" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                PR-акции, <b>не бьющие в глаза рекламой</b>. Они привлекают внимание клиентов к Вашему
                                бренду через игры, мастер-классы, общение
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_4" aria-expanded="false"
                                    aria-controls="collapse_4">
                                Новые идеи для удержания клиентов
                            </button>
                        </h2>
                        <div id="collapse_4" class="accordion-collapse collapse"
                             aria-labelledby="heading-4" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Разработка идей, повышающих <b>лояльность</b> имеющихся клиентов. Клиенты возвращаются и
                                <b>покупают снова и снова</b>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_5" aria-expanded="false"
                                    aria-controls="collapse_5">
                                Производство нестандартной рекламной продукции
                            </button>
                        </h2>
                        <div id="collapse_5" class="accordion-collapse collapse"
                             aria-labelledby="heading-5" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                <b>Реклама тоже может быть интересной.</b> Разрабатываем рекламу, которую клиент <b>захочет
                                унести с собой</b>: воздушные шары, кепки, самолетики, магниты, браслеты
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_6" aria-expanded="false"
                                    aria-controls="collapse_6">
                                Ведение социальных сетей
                            </button>
                        </h2>
                        <div id="collapse_6" class="accordion-collapse collapse"
                             aria-labelledby="heading-6" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Обеспечиваем <b>присутствие Вашего бренда</b> во всех желаемых социальных сетях. От
                                Вконтакте до TikTok, от Telegram до Pinterest
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_7" aria-expanded="false"
                                    aria-controls="collapse_7">
                                Брендинг и ребрендинг
                            </button>
                        </h2>
                        <div id="collapse_7" class="accordion-collapse collapse"
                             aria-labelledby="heading-7" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Создаем <b>мощный и любимый</b> потребителями <b>бренд</b> со всеми атрибутами:
                                запоминающееся название, логотип (в двух гаммах), слоганы, стратегия подачи
                            </div>
                        </div>
                    </div>
                    <!--Конец последнего элемента в первом аккардионе-->
                </div>
                <!-- Конец 1 аккордиона -->
            </div>
        </div>
    </div>
</section>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white">новое развитие ваших продаж </p>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-telegram"
                                                                                   aria-label="telegram"></i></a>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-instagram"
                                                                                   aria-label="instagram"></i></a>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-whatsapp"
                                                                                   aria-label="whatsapp"></i></a>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-facebook"
                                                                                   aria-label="facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>

<script src="../static/js/bootstrap.bundle.min.js"></script>
</html>