<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap-icons.css">
    <link rel="icon" href="../static/img/favicon1.ico" type="image/x-icon">
    <title>Brands to Life</title>
</head>


<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 text-center">
                <img src="../static/img/B2L.jpg" alt="logo" class="img-fluid v_logo">
            </div>
            <div class="col-xl-9">
                <h1 class="text-white text-end">МАРКЕТИНГОВОЕ АГЕНТСТВО ПОЛНОГО ЦИКЛА</h1>
                <div class="col-xl-6 float-end text-end">
                    <h4 class="color2">Комплексный подход к маркетингу основанный на проверенных научных
                        разработках.</h4>
                </div>
            </div>
        </div>
    </div>
</header>
Hello world!
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea error molestias quia quibusdam ut! Aliquid
    architecto, aut delectus distinctio dolores ex harum illum, in inventore magnam magni modi necessitatibus nisi non
    quaerat quia rem sapiente tempore ullam vero? Accusantium aliquid autem consectetur delectus eos eveniet non
    similique velit. A ad adipisci blanditiis consectetur cum delectus dolorum ea est facilis illo ipsam itaque,
    laboriosam libero magnam molestias nesciunt nobis obcaecati officiis omnis possimus provident quae voluptatibus.
    Aspernatur at, commodi cumque distinctio doloribus eligendi expedita explicabo labore natus necessitatibus, numquam
    quae repellat! Illum officiis perspiciatis quasi quidem sed sequi, temporibus veritatis vero. Maxime necessitatibus,
    voluptatibus. Ab alias animi aspernatur at consectetur doloremque ea eligendi, ex exercitationem iure labore non
    praesentium provident quaerat, similique, vitae voluptas. Cupiditate est fuga nisi non quae, quis. Aliquam assumenda
    culpa debitis dolor dolores doloribus eius, eos id laborum molestias natus perferendis quam quas, quis recusandae
    sit veniam. Eius hic inventore quam sapiente tempore? Aliquid aut consectetur cumque dolores enim fuga iusto nam
    nemo nesciunt perspiciatis quaerat quia quisquam rem, reprehenderit rerum sapiente sit, voluptatem. Aliquam amet at
    facere iure maiores nostrum obcaecati, optio perferendis perspiciatis, quod reiciendis sapiente sed sequi vitae
    voluptates. Distinctio eaque id itaque laboriosam quasi sit voluptates. Alias atque beatae culpa cum deserunt dicta,
    earum, est et facilis fugiat harum impedit in iure labore magnam modi nostrum nulla obcaecati, optio praesentium
    quaerat quisquam rem vitae. Accusantium consequuntur error fuga laborum nam nostrum numquam quo repudiandae velit?
    Eum id labore nostrum recusandae rem sequi, similique. Accusamus aliquid beatae consequatur culpa cumque error ex
    facere hic ipsam ipsum laboriosam minus mollitia nesciunt nisi numquam officia porro quaerat, quis quo quod
    repellendus sed sit vel veniam vitae. Aspernatur, fuga, sapiente. Aliquam at consectetur cumque deleniti distinctio
    est, facere harum hic in incidunt, inventore ipsam itaque laboriosam laudantium libero magni nam nesciunt nostrum
    provident quas quasi qui rem sint totam voluptate voluptates voluptatum! At, eveniet natus! Ab assumenda dicta eos,
    facilis fugit ipsum iusto nesciunt nihil nostrum nulla officia perferendis, praesentium similique tempore unde
    voluptas, voluptatum. Culpa eaque unde vel voluptate. A ad aut corporis cum delectus dicta, dolore ea, est facilis
    inventore ipsam labore magni maiores nostrum quam saepe tempore? Cupiditate eligendi facilis illum nobis placeat
    rem, reprehenderit. Alias consequatur cum cupiditate dignissimos ea error facilis modi mollitia odio, officiis quo
    quod ut vitae voluptatem voluptatum! Adipisci, atque blanditiis dolor doloremque ducimus eos explicabo impedit in
    ipsam iusto maxime molestiae molestias nihil obcaecati odio porro rerum soluta temporibus veritatis voluptate.
    Adipisci alias amet atque deleniti dicta dignissimos dolore dolorum eaque, esse excepturi fugit hic id libero nemo
    nihil nisi nobis non nostrum officiis provident, quia quibusdam quo saepe sed sequi vel vero voluptates! Ad amet
    aperiam architecto commodi deleniti ea est explicabo, itaque maiores nulla odio placeat quod sapiente sint suscipit
    tempora tempore ullam. Aliquam amet aperiam, consectetur consequuntur corporis distinctio doloribus ducimus earum
    error esse eveniet fugiat id ipsum itaque necessitatibus nihil nisi nobis nulla optio perspiciatis quam quas qui
    recusandae sequi tempora voluptate voluptatibus.</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, aliquid animi asperiores at culpa cum
    deleniti distinctio doloremque doloribus eum exercitationem ipsam maxime nam nesciunt officia quae qui reiciendis
    repellendus saepe sequi ullam? Accusamus asperiores at autem blanditiis culpa cum dicta dolorum earum enim ex
    exercitationem facere fuga fugit id inventore ipsa ipsum modi nemo nihil numquam omnis placeat quae, quaerat quia
    quis quo reiciendis saepe sint temporibus totam ullam voluptas voluptatem voluptates. Adipisci alias cupiditate
    deserunt ea error excepturi fuga fugiat ipsa, ipsam iste odio quibusdam quis? A cumque distinctio esse fuga harum
    laudantium nulla possimus praesentium, quasi qui repellendus, sint sunt tenetur totam vel, veritatis vitae! Autem,
    culpa dicta dolores error explicabo iste nemo repudiandae. Ab ad aliquid architecto, aut culpa eaque enim esse
    fugiat labore, laborum pariatur perferendis provident quis quod reiciendis saepe soluta. Accusamus alias consequatur
    cupiditate, eaque enim eveniet impedit in inventore laboriosam mollitia nesciunt optio perspiciatis quod sapiente
    similique sit voluptas. Alias blanditiis commodi consectetur consequuntur cumque dicta doloribus expedita fuga
    fugit, incidunt ipsa laboriosam laudantium libero molestiae nihil numquam odio porro praesentium quia recusandae
    repellat sapiente similique sint unde veniam vero voluptates. Asperiores at beatae hic modi quisquam repellendus
    velit. Consequuntur cum dolor dolorum impedit iure minus nihil perspiciatis, quas qui quod rerum sit sunt voluptas?
    Cumque dolor esse iusto nihil reiciendis repellat tempore? Aliquam consequuntur deleniti, dignissimos dolore
    exercitationem facere mollitia nemo perspiciatis placeat quae ratione ut vel voluptatem. Ea eveniet in libero nihil
    voluptate! Assumenda consequuntur culpa cum, doloribus dolorum eveniet magni neque nesciunt nihil odio officia rem
    veniam, vero! Ab adipisci atque autem blanditiis corporis distinctio doloribus eaque earum eos et explicabo fugiat
    magnam, minima, mollitia nisi nulla odit, praesentium quam quos sed sequi tempore temporibus voluptatum? Distinctio
    dolorum fugit iste laboriosam nulla odit perspiciatis, temporibus. Alias asperiores aut fuga, quis sunt tempore!
    Animi at autem dicta distinctio ea facere, incidunt iste itaque, laborum maxime modi mollitia natus possimus
    praesentium quia sed voluptates. Ad aliquid aspernatur at aut autem consequuntur corporis, culpa deleniti
    dignissimos dolore error esse exercitationem explicabo inventore ipsam itaque labore magni maiores maxime molestiae
    neque non nostrum nulla numquam officia omnis provident quae quaerat quasi qui quia quidem quod repellendus tempora
    ullam veniam vero. Amet aut consequuntur corporis eius esse exercitationem incidunt iusto labore molestiae molestias
    odit optio pariatur, perferendis, qui quod reiciendis repellendus reprehenderit similique totam voluptate!
    Architecto aut consequuntur dolorem earum eius est perferendis repellendus voluptatem. Cupiditate, ex expedita
    explicabo facilis praesentium quae quibusdam reprehenderit unde velit. Animi architecto consectetur cum eligendi
    excepturi facere facilis fuga iure laborum minus nulla numquam, officia praesentium quas, quidem rem suscipit
    veritatis voluptas voluptates voluptatibus! Aliquid eum illum impedit molestiae, mollitia obcaecati perferendis quam
    quo! A alias, aliquid atque, commodi dignissimos facilis itaque nesciunt perferendis quia repellendus reprehenderit
    rerum soluta voluptatem. Accusamus adipisci at, atque aut cumque, delectus excepturi ipsum iure iusto, maiores nam
    numquam perferendis placeat porro recusandae repellat sapiente voluptatem voluptatum! Accusantium asperiores atque
    itaque iure molestias natus odit omnis provident reprehenderit velit veniam, voluptas.
</p>
<section class="v-orderlist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">У нас вы можете заказать:</h2>
                <div class="accordion accordion-flush" id="accordion_1">
                    <!-- Открытый элемент -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_1" aria-expanded="false"
                                    aria-controls="collapse_1">
                                Маркетинговые исследования
                            </button>
                        </h2>
                        <div id="collapse_1" class="accordion-collapse collapse show"
                             aria-labelledby="heading_1" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Исследования помогают понять, <b>что еще</b> Ваш бренд <b>может продать</b> клиентам и
                                как Вашему бренду <b>стать No1</b> для потребителей
                            </div>
                        </div>
                    </div>
                    <!-- Закрытые элементы -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_2" aria-expanded="false"
                                    aria-controls="collapse_2">
                                Производство современных рекламных кампаний
                            </button>
                        </h2>
                        <div id="collapse_2" class="accordion-collapse collapse"
                             aria-labelledby="heading-2" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Берем на себя <b>производство всего необходимого</b> для рекламных кампаний: от
                                стратегий и поиска партнеров, до производства буклетов и BTL-рекламы
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_3" aria-expanded="false"
                                    aria-controls="collapse_3">
                                Интерактивные PR-акции
                            </button>
                        </h2>
                        <div id="collapse_3" class="accordion-collapse collapse"
                             aria-labelledby="heading-3" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                PR-акции, <b>не бьющие в глаза рекламой</b>. Они привлекают внимание клиентов к Вашему
                                бренду через игры, мастер-классы, общение
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_4" aria-expanded="false"
                                    aria-controls="collapse_4">
                                Новые идеи для удержания клиентов
                            </button>
                        </h2>
                        <div id="collapse_4" class="accordion-collapse collapse"
                             aria-labelledby="heading-4" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Разработка идей, повышающих <b>лояльность</b> имеющихся клиентов. Клиенты возвращаются и
                                <b>покупают снова и снова</b>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_5" aria-expanded="false"
                                    aria-controls="collapse_5">
                                Производство нестандартной рекламной продукции
                            </button>
                        </h2>
                        <div id="collapse_5" class="accordion-collapse collapse"
                             aria-labelledby="heading-5" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                <b>Реклама тоже может быть интересной.</b> Разрабатываем рекламу, которую клиент <b>захочет
                                унести с собой</b>: воздушные шары, кепки, самолетики, магниты, браслеты
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_6" aria-expanded="false"
                                    aria-controls="collapse_6">
                                Ведение социальных сетей
                            </button>
                        </h2>
                        <div id="collapse_6" class="accordion-collapse collapse"
                             aria-labelledby="heading-6" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Обеспечиваем <b>присутствие Вашего бренда</b> во всех желаемых социальных сетях. От
                                Вконтакте до TikTok, от Telegram до Pinterest
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_7" aria-expanded="false"
                                    aria-controls="collapse_7">
                                Брендинг и ребрендинг
                            </button>
                        </h2>
                        <div id="collapse_7" class="accordion-collapse collapse"
                             aria-labelledby="heading-7" data-bs-parent="#accordion_1">
                            <div class="accordion-body">
                                Создаем <b>мощный и любимый</b> потребителями <b>бренд</b> со всеми атрибутами:
                                запоминающееся название, логотип (в двух гаммах), слоганы, стратегия подачи
                            </div>
                        </div>
                    </div>
                    <!--Конец последнего элемента в первом аккардионе-->
                </div>
                <!-- Конец 1 аккордиона -->
            </div>
        </div>
    </div>
</section>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white">новое развитие ваших продаж </p>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-telegram"
                                                                                   aria-label="telegram"></i></a>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-instagram"
                                                                                   aria-label="instagram"></i></a>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-whatsapp"
                                                                                   aria-label="whatsapp"></i></a>
                <a href="#" target="_blank" class="btn v-btn btn-outline-light"><i class="bi bi-facebook"
                                                                                   aria-label="facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>

<script src="../static/js/bootstrap.bundle.min.js"></script>
</html>